
@{
    ViewBag.Title = "CorrectlyRented";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-margin gtco-container">
    <h2>Pomyślnie zarezerwowano samochód</h2>
    <h3>Szczegóły rezerwacji możesz zobaczyć w swoim profilu</h3>
</div>
