
@{
    ViewBag.Title = "CorrectlyRented";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-margin gtco-container">
    <h2>Pomyślnie zarezerwowano samochód</h2>
    <h3>Szczegóły rezerwacji możesz zobaczyć w swoim profilu</h3>
    
    <h3>Przelew na konto : </h3>
    <h3><b>44 1234 1234 1234 1234 1234</b></h3>
    <h3>Tytuł przelewu : </h3>
    <h3><b>asdasdas</b></h3>
</div>
