@{
    ViewBag.Title = "Contact";
}
<div class="top-margin gtco-container">
    <h2>Kontakt</h2>
    <address>
        Rentalis Sp.Z.o.o<br />
        ul.Ludwika Nabielaka 11 <br />
        00-743 Warszawa<br />
        <abbr title="Phone">P:</abbr>
        501 201 120
    </address>
    <address>
        <strong>Email:</strong>   <a href="mailto:Support@example.com">rentalis@wp.pl</a><br />
    </address>
</div>