@model IEnumerable<Rentalis_v2.Models.CarModels>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-margin gtco-container">
    <h2>Samochody dostępne w wybranym terminie </h2>
    <form action="/Home/Index" method="post">
        <div>
            <label for="from">Zmień datę od:</label>
            <input id="from" type="datetime-local" name="dateFrom" required>
            <label for="to">Do:</label>
            <input id="to" type="datetime-local" name="dateTo" required>
            <input type="submit" value="Sprawdź dostępność" class="btn btn-primary">
        </div>
    </form>
    <table id="tableAnnounce" class="table table-advance table-hover">
        <tbody>
            <tr>
                <th>Zdjęcie</th>
                <th> Nazwa</th>
                <th> Rok produkcji</th>
                <th>Opis</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="/Admin/RetrieveImage/@item.Id" alt="" height=100 width=200 />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Szczegóły", "Details", "Car", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>