@model Rentalis_v2.Models.CarService
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminTestLayout.cshtml";
}
<div class="row" style="margin-left:20px; margin-right:20px;">
    <h1>Fajna nazwa</h1>
</div>
