@model Rentalis_v2.Models.CarService

@{ 
    ViewBag.Title = "ServiceDetails";
    Layout = "~/Views/Shared/_AdminTestLayout.cshtml";
}

<h2>ServiceDetails</h2>
<div class="row">
    <div class="col-md-12">
        
    </div>
</div>

